<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Paying It Forward</title>
  </head>
  <body>
    <section class="navbar">
      <img
        class="logo-pic"
        src="https://image.shutterstock.com/image-photo/concept-image-accounting-business-acronym-600w-344823035.jpg"
        alt="logo"
      />

      <ul>
        <li><a class="nav-items" href="#">Overview</a></li>
        <li><a class="nav-items" href="#">Technologies</a></li>
        <li><a class="nav-items" href="#">Items</a></li>
        <li><a class="nav-items" href="#">Donators</a></li>
        <li><a class="nav-items" href="#">API Documentation</a></li>
        <li><a class="nav-items" href="#">Team</a></li>
      </ul>

      <div class="auth-btn">
        <button class="sign-in">Sign In</button>
        <button class="sign-up">Sign Up</button>
      </div>
    </section>

    <section class="overview">
      <div class="overview-txt">
        <h2>Overview</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          <br />incidunt similique possimus minima beatae neque animi
          voluptatibus <br />vero nobis. Incidunt magnam repudiandae qui ipsum,
          facere laudantium <br />placeat totam tempora ad.
        </p>

        <button>Learn More</button>
      </div>

      <img
        class="overview-pic"
        src="https://image.shutterstock.com/image-vector/set-vector-illustrations-flat-cartoon-600w-1892882557.jpg"
        alt="overview-pic"
      />
    </section>

    <section class="items">
      <div class="item">
        <img
          class="item-pic"
          src="https://image.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600w-1037719192.jpg"
          alt="item"
        />
        <h3>Small Title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
          saepe repellat cumque molestiae quis dicta voluptatem.
        </p>
        <a class="learn-more-item" href="#">Learn More</a>
      </div>
      <div class="item">
        <img
          class="item-pic"
          src="https://image.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600w-1037719192.jpg"
          alt="item"
        />
        <h3>Small Title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
          saepe repellat cumque molestiae quis dicta voluptatem.
        </p>
        <a class="learn-more-item" href="#">Learn More</a>
      </div>
      <div class="item">
        <img
          class="item-pic"
          src="https://image.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600w-1037719192.jpg"
          alt="item"
        />
        <h3>Small Title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
          saepe repellat cumque molestiae quis dicta voluptatem.
        </p>
        <a class="learn-more-item" href="#">Learn More</a>
      </div>
      <div class="item">
        <img
          class="item-pic"
          src="https://image.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600w-1037719192.jpg"
          alt="item"
        />
        <h3>Small Title</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
          saepe repellat cumque molestiae quis dicta voluptatem.
        </p>
        <a class="learn-more-item" href="#">Learn More</a>
      </div>
    </section>
  </body>
</html>
