<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css" />
    <title>Paying It Forward</title>
  </head>
  <body>
    <section class="navbar">
      <img
        class="logo-pic"
        src="logo.jpg"
        alt="logo"
      />

      <ul>
        <li><a class="nav-items" href="#overview">Overview</a></li>
        <li><a class="nav-items" href="#tech">Technologies</a></li>
        <li><a class="nav-items" href="#items">Items</a></li>
        <li><a class="nav-items" href="#donators">Donators</a></li>
        <li><a class="nav-items" href="#docs">API Documentation</a></li>
        <li><a class="nav-items" href="#teams">Team</a></li>
      </ul>

      <div class="auth-btn">
        <button class="sign-in">Sign In</button>
        <button class="sign-up">Sign Up</button>
      </div>
    </section>

    <section class="project-structure" id="docs">
      <img
        class="project-structure-img"
        src="placeholder.png"
        alt="swagger"
      />
      <img
        class="project-structure-img"
        src="database.png"
        alt="database"
      />
      <img
        class="project-structure-img"
        src="systemdesign.png"
        alt="system design"
      />
    </section>

    <section class="overview" id="overview">
      <div class="overview-txt">
        <h2>Overview</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
          <br />incidunt similique possimus minima beatae neque animi
          voluptatibus <br />vero nobis. Incidunt magnam repudiandae qui ipsum,
          facere laudantium <br />placeat totam tempora ad.
        </p>

        <button>Learn More</button>
      </div>

      <img
        class="overview-pic"
        src="donation.jpg"
        alt="overview-pic"
      />
    </section>

    <section class="items" id="items">
      <div class="item-title">
        <h2>Items</h2>
      </div>
      <div class="item-list-wrapper">
        <div class="item">
          <img
            class="item-pic"
            src="placeholder.png"
            alt="item"
          />
          <h3>Small Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
          <a class="learn-more-item" href="#">Learn More</a>
        </div>
        <div class="item">
          <img
            class="item-pic"
            src="placeholder.png"
            alt="item"
          />
          <h3>Small Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
          <a class="learn-more-item" href="#">Learn More</a>
        </div>
        <div class="item">
          <img
            class="item-pic"
            src="placeholder.png"
            alt="item"
          />
          <h3>Small Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
          <a class="learn-more-item" href="#">Learn More</a>
        </div>
        <div class="item">
          <img
            class="item-pic"
            src="placeholder.png"
            alt="item"
          />
          <h3>Small Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
          <a class="learn-more-item" href="#">Learn More</a>
        </div>
      </div>
    </section>

    <section class="requests">
      <div class="request-title">
        <h2>Requests</h2>
      </div>
      <div class="request-list-wrapper">
        <div class="request">
          <img
            class="request-pic"
            src="placeholder.png"
            alt="request"
          />
          <h3>Small Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
          <a class="learn-more-request" href="#">Learn More</a>
        </div>
        <div class="request">
          <img
            class="request-pic"
            src="placeholder.png"
            alt="request"
          />
          <h3>Small Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
          <a class="learn-more-request" href="#">Learn More</a>
        </div>
        <div class="request">
          <img
            class="request-pic"
            src="placeholder.png"
            alt="request"
          />
          <h3>Small Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
          <a class="learn-more-request" href="#">Learn More</a>
        </div>
        <div class="request">
          <img
            class="request-pic"
            src="placeholder.png"
            alt="request"
          />
          <h3>Small Title</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
          <a class="learn-more-request" href="#">Learn More</a>
        </div>
      </div>
    </section>

    <section class="donators" id="donators">
      <div class="donator-title">
        <h2>Donators</h2>
      </div>
      <div class="donator-list-wrapper">
        <div class="donator">
          <img
            class="donator-pic"
            src="placeholder.png"
            alt="donator"
          />
          <h3>Small Title</h3>
          <p>Brief Intro</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
        </div>
        <div class="donator">
          <img
            class="donator-pic"
            src="placeholder.png"
            alt="donator"
          />
          <h3>Small Title</h3>
          <p>Brief Intro</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
        </div>
        <div class="donator">
          <img
            class="donator-pic"
            src="placeholder.png"
            alt="donator"
          />
          <h3>Small Title</h3>
          <p>Brief Intro</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
        </div>
        <div class="donator">
          <img
            class="donator-pic"
            src="placeholder.png"
            alt="donator"
          />
          <h3>Small Title</h3>
          <p>Brief Intro</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            <br />Laboriosam,explicabo reiciendis molestias, doloremque<br />
            saepe repellat cumque molestiae quis dicta voluptatem.
          </p>
        </div>
      </div>
    </section>

    <section class="technology" id="tech">
      <div class="technology-title">
        <h2>Technologies</h2>
      </div>
      <div class="technology-list-wrapper">
        <img
          class="technology-pic"
          src="nodejs.png"
          alt="nodejs"
        />

        <img
          class="technology-pic"
          src="js.png"
          alt="js"
        />

        <img
          class="technology-pic"
          src="mongo.jpg"
          alt="mongo"
        />

        <img
          class="technology-pic"
          src="npm.jpg"
          alt="npm"
        />

        <img
        class="technology-pic"
        src="mailer.png"
        alt="mailer"
      />
      </div>
    </section>

    <section class="teams" id="teams">
      <div class="team-title">
        <h2>Team</h2>
      </div>
      <div class="team-list-wrapper">
        <div class="team">
          <img
            class="team-pic"
            src="https://image.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600w-1037719192.jpg"
            alt="donator"
          />
          <h3>Mahmoud</h3>
        </div>
        <div class="team">
          <img
            class="team-pic"
            src="https://image.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600w-1037719192.jpg"
            alt="team"
          />
          <h3>Mehmet</h3>
        </div>
        <div class="team">
          <img
            class="team-pic"
            src="https://image.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600w-1037719192.jpg"
            alt="team"
          />
          <h3>Perizat</h3>
        </div>
        <div class="team">
          <img
            class="team-pic"
            src="https://image.shutterstock.com/image-vector/default-ui-image-placeholder-wireframes-600w-1037719192.jpg"
            alt="team"
          />
          <h3>Ammar</h3>
        </div>
      </div>
    </section>

    <footer>
      <div class="social-media-links">
        <a href="#"
          ><img
            class="social-media-icon"
            src="twitterlogo.png"
            alt="twitter"
        /></a>
        <a href="#">
          <img
          class="social-media-icon"
          src="googlelogo.png"
          alt="google"
        />
        </a>
       <a href="#">
        <img
        class="social-media-icon"
        src="facebooklogo.png"
        alt="facebook"
      />
       </a>
       
      </div>
      <div class="footer-links">
        <a class="footer-link" href="#">Items</a>
        <a class="footer-link" href="#">Donate</a>
        <a class="footer-link" href="#">Request</a>
        <a class="footer-link" href="#">Contact Us</a>
      </div>
      <div class="company-name">
        <p class="company-name-txt">&copy; Company name, 2022</p>
      </div>
    </footer>
  </body>
</html>
