body,
html {
  height: 100%;
  width: 100%;
}

.nav-items {
  color: white;
  text-decoration: none;
}

.logo-pic {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.navbar {
  background-color: #3fa037;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

ul {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.auth-btn {
  display: flex;
  margin-right: 20px;
  height: 100%;
  width: 8%;
  align-items: center;
  justify-content: space-between;
}

.sign-up {
  background-color: #23791c;
  width: 70px;
  height: 40px;
  color: white;
  cursor: pointer;
}

.sign-in {
  background-color: white;
  width: 70px;
  height: 40px;
  color: #23791c;
  cursor: pointer;
}

.overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-left: 175px;
  margin-right: 175px;
}

.overview-pic {
  width: 700px;
  height: 300px;
}

.items {
  margin-left: 120px;
  margin-right: 120px;
}

.item-list-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-more-item {
  width: 100px;
  height: 100px;
  color: black;
  text-decoration: none;
}

.item-pic {
  width: 150px;
  height: 150px;
}

.item-title {
  margin-left: 52px;
}

.requests {
  margin-left: 120px;
  margin-right: 120px;
}

.request-list-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.request {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.learn-more-request {
  width: 100px;
  height: 100px;
  color: black;
  text-decoration: none;
}

.request-pic {
  width: 150px;
  height: 150px;
}

.request-title {
  margin-left: 52px;
}

.donator-list-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.donators {
  margin-left: 120px;
  margin-right: 120px;
}

.donator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donator-pic {
  width: 150px;
  height: 150px;
}

.donator-title {
  margin-left: 52px;
}

.technology {
  margin-left: 120px;
  margin-right: 120px;
}

.technology-list-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.technology-pic {
  width: 150px;
  height: 150px;
}

.technology-title {
  margin-left: 52px;
}

.teams {
  margin-left: 120px;
  margin-right: 120px;
}

.team-list-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-pic {
  width: 150px;
  height: 150px;
}

.team-title {
  margin-left: 52px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3fa037;
  width: 100%;
  height: 300px;
}

.social-media-links{
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-links{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;

}

.footer-link {
  color: white;
  text-decoration: none;
}

.company-name {
  margin-top: 10px;
  height: 100%;
  display: flex;
  align-items: center;
}

.company-name-txt{
  margin-left: 10px;
  color: white;
}

.project-structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.project-structure-img {
  width: 1200px;
  height: 900px;
} 

.social-media-icon {
  width: 30px;
  height: 30px;
}